doctype html
html
    head
        title jqCharCount
    body
        form#frmStep2
            label#charCount tiene 150 de 300 caracteres
            textarea#txaMessage
            label#wordCount esta usando 10 de 18 palabras
