extends layout
block content
	include fixtures/jqCharCountContent.jade
block scripts
	script(src="../public/js/src/jqCharCount.js" type="text/javascript").
	script(src="../public/js/src/jqCharCountUse.js" type="text/javascript").
