form.form_register#frmStep1
	h2 Formulario
	hr
	textarea.message#txaMessage(placeholder="Escriba aquí")
	p#charCount tiene 150 de 300 caracteres.
	//-p#wordCount Estás usando 10 de 18 palabras.
	button#btnSend(type="button") Enviar