form#frmStep2
	h2 Formulario
	hr
	textarea#txaMessage(placeholder="Escriba aquí") abc
	p#charCount tiene 150 de 300 caracteres.
	//-p#wordCount Estás usando 10 de 18 palabras.
	button#btnSend(type="button") Enviar