form.form_register#frmStep2
	h2 Formulario 2
	hr
	textarea.message#txaMessage2(placeholder="Escriba aquí")
	p#charCount2 tiene 150 de 300 caracteres.
	//-p#wordCount Estás usando 10 de 18 palabras.
	button#btnSend2(type="button") Enviar