body
	background #333
p
	-webkit-margin-after 0.5em
	-webkit-margin-before 0.5em
hr
	margin 0 0 15px 0
textarea
	font-family 'arial' ,'sans-serif'
	font-size 0.85em
button
	padding 5px
#frmStep2
	background crimson
	color white
	font-family 'arial' ,'sans-serif'
	font-size 0.85em
	margin 0 auto
	padding 10px
	width 310px
#txaMessage
	width 98%
	min-height 70px
