body
	background #333
p
	-webkit-margin-after 0.5em
	-webkit-margin-before 0.5em
textarea
	font-family 'arial' ,'sans-serif'
	font-size 0.9em
button
	padding 5px
#frmStep2
	background crimson
	color white
	font-family 'arial' ,'sans-serif'
	font-size 0.9em
	margin 0 auto
	padding 5px 5px 15px 5px
	width 310px
#txaMessage
	width 98%
	min-height 100px
